html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
}

figure {
    margin: 0;
}

.content__block {
    /* внешние отступы */
    margin: 15px 0;
    padding: 15px 0;
}

.card {
    margin-bottom: 24px;
    border: 1px solid rgba(0, 0, 0, 0.577);
    box-shadow: 0px 0px 16px 0px rgba(160, 174, 192, 0.24);
    background-color: rgba(47, 44, 47, 0.18);
    padding: 24px;
    border-radius: 12px;
    width: fit-content;
}

.flex-item {
    gap: 14px;

}

.flex-item>div {
    background-color: aquamarine;
    border: 1px solid rgba(0, 0, 0, 0.577);
    padding: 12px;
    border-radius: 12px;

}

.card img {
    width: 300px;
}

.container {
    background-color: antiquewhite;
    margin: 0 15px;
    margin-bottom: 100px;
}


table {
    width: 300px;
}

td {
    border: 1px solid black;
    background-color: white;
}

td,
th {
    padding: 3px;
    /* Поля вокруг содержимого ячеек */
}

th {
    text-align: left;
    /* Выравнивание по левому краю */
    background: black;
    /* Цвет фона */
    color: white;
    /* Цвет текста */
}

.flex-container {
    display: flex;
    align-items: center;
    gap: 50px;
}

.flex-container>div {
    justify-content: space-between;
    width: 45%;
}

.flex-container>.w-100 {
    width: 100%;
}

.template {
    grid-template-areas: 'header header header'
        'sidebar main main'
        'footer footer footer';
}



/* ================= Аадаптивная верстка 1 ============= */

.grid-container>div {
    min-height: 150px;

}

.grid-container>div:nth-child(1) {
    background-color: red;
    grid-area: header;
}

.grid-container>div:nth-child(2) {
    background-color: green;
    grid-area: main;

}

.grid-container>div:nth-child(3) {
    background-color: tan;
    grid-area: sidebar;

}

.grid-container>div:nth-child(4) {
    background-color: teal;
    grid-area: footer;

}

.grid-container>div:nth-child(5) {
    background-color: seagreen;
    grid-area: zalupa;

}

/* мини мобилка */

@media screen and (max-width: 767px) {
    .container {
        display: none;
    }

    .grid-container {
        display: grid;
        grid-template-areas:
            'main main main'
            'main main main'
            'zalupa zalupa zalupa'
            'zalupa zalupa zalupa';
    }

    .grid-container>div:nth-child(1) {
        display: none;
    }


}


/* смартфон */
@media (min-width: 768px) {
    .grid-container {
        display: grid;
        grid-template-areas: 'header header header'
            'main main main'
            'main main main'
            'zalupa zalupa zalupa'
            'footer footer footer';
    }


    .container {
        margin: 0;
    }

    .grid-container>div:nth-child(3) {
        display: none;
    }

}

/* планшет */
@media (min-width: 992px) {
    .grid-container {
        display: grid;
        grid-template-areas: 'header header sidebar'
            'main main main'
            'main main main'
            'zalupa zalupa zalupa'
            'footer footer footer';
    }

    .container {
        width: calc(100% - 30px);
    }
}

/* desctop */
@media (min-width: 1200px) {
    .grid-container {
        display: grid;
        grid-template-areas: 'header header header'
            'main main sidebar'
            'main main sidebar'
            'zalupa zalupa sidebar'
            'footer footer footer';
    }

    .container {
        margin: 0 auto;
        width: 1170px;
        padding: 0;
    }
}